@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};

:root {
  --title-size: 1.3rem;
  --text-size: 1rem;
}

html {
  font-size: calc(min(100vw, 100svh * 4 / 3) * 0.04);
}

body {
  overflow: hidden;
  font-size: var(--text-size);
}

h1 {
  font-size: var(--title-size);
}

.mockup-code::before {
  margin-bottom: 0.5rem;
}